body {
    background: azure;
}

.myContainer {
    margin-top: 100px;
    justify-self: center;
    font-size: .8rem;
}

.head {
    font-size: 2rem;
}

.my_shadow {
    box-shadow: 1px 1px 30px black;
}

